@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap");

:root {
  --bg-clr: #f0f0f0;
  --white-clr: #ffffff;
  --black-clr: #111111;
  --blue-clr: #6563ff;
}

body {
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-clr);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
